# CS105/305    Lab 3   -  Pandas on Ice

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

The National Snow and Ice Data Center (https://nsidc.org/) maintains a lot of information about snow and ice.  One of their datasets concerns "sea ice," that is, ice which is floating on some ocean or other seawater body.  Almost all of this is either in the Arctic or Antarctic regions and, as you can imagine, the extent of the ice changes over the course of each year.  It's also changing in longer timeframes and this has attracted quite a lot of attention from climate scientists.  We're going to look at some data on the extent of Arctic ice.  There's a nifty tool for visualizing the data we're going to look at here: https://nsidc.org/arcticseaicenews/charctic-interactive-sea-ice-graph/

Begin by having a look at https://nsidc.org/data/g02135 and downloading the data file for this lab.

Load the data into Pandas - you might want to look at some of the options to read_csv()

In [76]:
df = pd.read_csv("N_seaice_extent_daily_v3.0.csv")

Use info() and head() to get a look at the data.  Also look at the columns attribute of your DataFrame.

In [77]:
print(df.head())
print("\n")
print(df.info())
print("\n")
print(df.columns)

   Year   Month   Day       Extent      Missing  \
0  YYYY      MM    DD   10^6 sq km   10^6 sq km
1  1978      10    26       10.231        0.000
2  1978      10    28       10.420        0.000
3  1978      10    30       10.557        0.000
4  1978      11    01       10.670        0.000

                                         Source Data
0   Source data product web sites: http://nsidc.o...
1   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
2   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
3   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
4   ['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14175 entries, 0 to 14174
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          14175 non-null  object
 1    Month        14175 non-null  object
 2    Day          14175 non-null  object
 3        Extent   14175 non-null  object
 4       Missing   14175 non-null  object
 5    Source Data  14175 non-null  object
dtypes: object(6)
memory usage: 664.6+ KB
None


Index(['Year', ' Month', ' Day', '     Extent', '    Missing', ' Source Data'], dtype='object')

Find out what years are represented in this dataset.

In [78]:
df.drop(0, inplace=True)
years = set(df['Year'])
years

{'1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022'}

Check the labels on the columns and if they have spaces in them, remove the spaces

In [79]:
df.columns = df.columns.str.replace(" ", "")
df.columns

Index(['Year', 'Month', 'Day', 'Extent', 'Missing', 'SourceData'], dtype='object')

Drop the Missing and Source Data columns from the data, leaving the other columns.

In [80]:
df.drop("Missing", axis=1, inplace=True)
df.drop("SourceData", axis=1, inplace=True)

In [81]:
df.columns
df

       Year   Month   Day       Extent
1      1978      10    26       10.231
2      1978      10    28       10.420
3      1978      10    30       10.557
4      1978      11    01       10.670
5      1978      11    03       10.777
...     ...     ...   ...          ...
14170  2022      02    19       14.712
14171  2022      02    20       14.729
14172  2022      02    21       14.933
14173  2022      02    22       14.923
14174  2022      02    23       14.882

[14174 rows x 4 columns]

In [99]:
dfDates = [dt.date(int(Year),int(Month),int(Day)) for Year,Month,Day,Extent in df if (Year.isdigit() == True)]
print(dfDates)

ValueError: too many values to unpack (expected 4)

Build a subset of the data with only rows from 2021

In [ ]:
dfNow = df[df["Year"]=="2021"]
dfNow.co

Plot the Extent column for this subset

In [ ]:
plt.scatter(dfNow.Extent,dt.date(dfNow.Year,dfNow.Month,dfNow.Day))

It turns out that the minimum extent is always sometime in September.  Build a version of the dataset with only the month of September for each year.

Plot just the extent for September in 2021.  You should see that the minimum was on the 13th.

For each year, find the day (number starting with 1) of the minimum value.

Create a plot of the minimum day for all the years in the set (skip any year with no September data)

Find out which month(s) have had maximum extent values.

For the most common maximum month, repeat the work above and create another plot.

Build a scatter plot of minimum day vs. minimum extent.  Do you see a pattern?

Submit your work as an attachment in email by Friday, March 4th at 11:59PM.