# CS105/305    Lab 3   -  Pandas on Ice

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The National Snow and Ice Data Center (https://nsidc.org/) maintains a lot of information about snow and ice.  One of their datasets concerns "sea ice," that is, ice which is floating on some ocean or other seawater body.  Almost all of this is either in the Arctic or Antarctic regions and, as you can imagine, the extent of the ice changes over the course of each year.  It's also changing in longer timeframes and this has attracted quite a lot of attention from climate scientists.  We're going to look at some data on the extent of Arctic ice.  There's a nifty tool for visualizing the data we're going to look at here: https://nsidc.org/arcticseaicenews/charctic-interactive-sea-ice-graph/

Begin by having a look at https://nsidc.org/data/g02135 and downloading the data file for this lab.

Load the data into Pandas - you might want to look at some of the options to read_csv()

In [ ]:
df = pd.read_csv("N_seaice_extent_daily_v3.0.csv")

Use info() and head() to get a look at the data.  Also look at the columns attribute of your DataFrame.

In [9]:
print(df.head())
print()
print(df.info())
print()
print(df.columns)

   Year   Month  ...      Missing                                        Source Data
0  YYYY      MM  ...   10^6 sq km   Source data product web sites: http://nsidc.o...
1  1978      10  ...        0.000   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
2  1978      10  ...        0.000   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
3  1978      10  ...        0.000   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
4  1978      11  ...        0.000   ['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...

[5 rows x 6 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14175 entries, 0 to 14174
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          14175 non-null  object
 1    Month        14175 non-null  object
 2    Day          14175 non-null  object
 3        Extent   14175 non-null  object
 4       Missing   14175 non-null  object
 5    Source Data  14175 non-null  object
dtypes: object(6)
memory usage: 664.6+ KB
None

Index(['Year', ' Month', ' Day', '     Extent', '    Missing', ' Source Data'], dtype='object')

Find out what years are represented in this dataset.

Check the labels on the columns and if they have spaces in them, remove the spaces

Drop the Missing and Source Data columns from the data, leaving the other columns.

Build a subset of the data with only rows from 2021

Plot the Extent column for this subset

It turns out that the minimum extent is always sometime in September.  Build a version of the dataset with only the month of September for each year.

Plot just the extent for September in 2021.  You should see that the minimum was on the 13th.

For each year, find the day (number starting with 1) of the minimum value.

Create a plot of the minimum day for all the years in the set (skip any year with no September data)

Find out which month(s) have had maximum extent values.

For the most common maximum month, repeat the work above and create another plot.

Build a scatter plot of minimum day vs. minimum extent.  Do you see a pattern?

Submit your work as an attachment in email by Friday, March 4th at 11:59PM.